*{
    margin: 0px;
    padding: 0px;

}
body{
    width: 100%;
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    position: relative;
}
header{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between ;
}
ul li{
    display: inline-block;
    transition: 0.7s;

}
ul li a{
    color: white;
    text-decoration: none; 
    margin: 0 5px;
    transition: 0.7s;
}
img{
    width: 50px;
}
.content{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between ;
    width: 80%;
    height: 500px;
    margin: auto;
}
p{
    color: white;
    display: flex;
    justify-content: start;
    line-height: 30px;
    list-style:upper-latin;
}
h2{
    font-weight: bold;
    font-size: x-large;
    color: white;
    margin: 0px auto 10px auto;
    display: flex;
    justify-content: start;
    text-transform: uppercase;
}
.text{
    width: 50%;
    display: inline-block;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.image{
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: 0.7s;
}
button{
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.7s;
}

footer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0px;
    right: 0px;

}
#icon{
    cursor: pointer;
    transition: 0.7s;
}
#icon:hover ,li:hover{
    transform: scale(1.2);
    margin: 0 20px ;
}
.image:hover ,button:hover{
    transform: scale(1.2);
    /* margin: 0 0 0 20px; */
}
@media  (max-width: 768px){
    button{
        display: flex;
        margin: auto;
        margin-top: 20px;
    }
}